<nav class="bg-white shadow py-2">
  <div class="max-w-7xl mx-auto px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a class="flex-shrink-0 font-bold text-purple-800"
          [routerLink]="currentAccount ? '/dashboard' : '/login'"
          queryParamsHandling="preserve">
          Sample App
        </a>
      </div>
      <!-- Only show when currentAccount is set -->
      <div *ngIf="currentAccount" class="ml-16 flex-auto flex gap-x-6">
        <a class="font-semibold" routerLinkActive="text-red-600" [routerLinkActiveOptions]="{exact: true}" routerLink="/dashboard">Dashboard</a>
        <a class="font-semibold" routerLinkActive="text-red-600" [routerLinkActiveOptions]="{exact: true}" routerLink="/dashboard/test">Test</a>
        <a class="font-semibold" routerLinkActive="text-red-600" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">Admin</a>
      </div>
      <!-- Only show if currentAccount is set or we have logged in account we can switch to -->
      <div *ngIf="currentAccount || accounts?.size" class="relative inline-block text-left">
        <div class="flex align-center">
          <span class="self-center mr-2">Signed in as</span>
          <span class="self-center font-semibold mr-2">{{currentAccount?.firstName}} {{currentAccount?.lastName}}</span>
          <button (click)="toggleExpandAccounts()" type="button"
            class="flex items-center justify-center w-12 rounded-md px-0 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
            id="options-menu" aria-haspopup="true" aria-expanded="true">
            <svg width="20" fill="currentColor" height="20" class="text-purple-800" viewBox="0 0 1792 1792"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1523 1339q-22-155-87.5-257.5t-184.5-118.5q-67 74-159.5 115.5t-195.5 41.5-195.5-41.5-159.5-115.5q-119 16-184.5 118.5t-87.5 257.5q106 150 271 237.5t356 87.5 356-87.5 271-237.5zm-243-699q0-159-112.5-271.5t-271.5-112.5-271.5 112.5-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5zm512 256q0 182-71 347.5t-190.5 286-285.5 191.5-349 71q-182 0-348-71t-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
              </path>
            </svg>
          </button>
        </div>
        <div *ngIf="isExpanded"
          class="origin-top-right absolute right-0 mt-2 w-xxs rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
          <div class="py-1 " role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <!-- Current account -->
            <div *ngIf="currentAccount" class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
              role="menuitem">
              <span class="flex flex-row align-center">
                <span class="self-center">
                  {{currentAccount?.firstName}} {{currentAccount?.lastName}}
                </span>
                <!-- Logout button -->
                <button (click)="logoutCurrentAccount()" type="button"
                  class="flex items-center ml-auto justify-center w-12 rounded-md px-0 py-2 text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                  id="options-menu" aria-haspopup="true" aria-expanded="true">
                  Logout
                </button>
              </span>
            </div>
            <!-- Other accounts -->
            <ng-container *ngFor="let account of accounts | keyvalue">
              <div *ngIf="account.value.username !== currentAccount?.username"
                class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                role="menuitem">
                <span class="flex flex-row align-center">
                  <!-- Full name of the account owner -->
                  <span class="self-center">
                    {{account.value?.firstName}} {{account.value?.lastName}}
                  </span>
                  <!-- Switch button -->
                  <button (click)="switchToAccount(account.value.username)" type="button"
                    class="flex items-center ml-auto justify-center w-12 rounded-md px-0 py-2 text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                    id="options-menu" aria-haspopup="true" aria-expanded="true">
                    Switch
                  </button>
                </span>
              </div>
            </ng-container>
            <div
              class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
              role="menuitem">
              <span class="flex flex-row items-center justify-center">
                <!-- Login to another account -->
                <button routerLink="/login" type="button" (click)="toggleExpandAccounts()"
                  class="flex items-center justify-center rounded-md px-0 py-2 text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                  id="options-menu" aria-haspopup="true" aria-expanded="true">
                  Add a new account
                </button>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
