<div class="w-full flex flex-row items-center justify-center pt-32 pb-12 px-8 sm:px-0">
  <div class="flex flex-col bg-gray-50 shadow-lg dark:bg-gray-800 px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-lg w-full max-w-md">
    <ng-container *ngIf="showLogin">
      <div class="self-center text-xl sm:text-2xl text-gray-800 font-semibold dark:text-white mb-6">
        Login
      </div>
      <button *ngIf="accounts?.size" (click)="showLogin = false" type="button"
        class="w-40 self-center bg-green-600 hover:bg-green-700 disabled:opacity-50 focus:ring-purple-500 focus:ring-offset-purple-200 text-white transition ease-in duration-200 text-center text-base font-semibold py-1 px-2 rounded-sm shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 ">
        Or Switch
      </button>
      <div class="mt-8">
        <form [formGroup]="loginForm">
          <div class="flex flex-col mb-2">
            <div class="flex relative ">
              <span
                class="rounded-l-md inline-flex  items-center px-3 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm">
                <svg width="15" height="15" fill="currentColor" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z">
                  </path>
                </svg>
              </span>
              <input type="text"
                formControlName="username"
                class="rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                placeholder="Username" />
            </div>
          </div>
          <div class="flex flex-col mb-6">
            <div class="flex relative ">
              <span
                class="rounded-l-md inline-flex  items-center px-3 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm">
                <svg width="15" height="15" fill="currentColor" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1376 768q40 0 68 28t28 68v576q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-576q0-40 28-68t68-28h32v-320q0-185 131.5-316.5t316.5-131.5 316.5 131.5 131.5 316.5q0 26-19 45t-45 19h-64q-26 0-45-19t-19-45q0-106-75-181t-181-75-181 75-75 181v320h736z">
                  </path>
                </svg>
              </span>
              <input type="password"
                formControlName="password"
                class=" rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                placeholder="Password" />
            </div>
          </div>
          <div class="flex w-full">
            <button type="submit"
              [disabled]="loginForm.invalid"
              (click)="onLogin()"
              class="bg-purple-600 hover:bg-purple-700 disabled:opacity-50 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 ">
              Login
            </button>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="!showLogin && accounts?.size">
      <div class="self-center text-xl sm:text-2xl text-gray-800 font-semibold dark:text-white mb-6">
        Switch
      </div>
      <button (click)="showLogin = true" type="button"
        class="w-40 self-center bg-green-600 hover:bg-green-700 disabled:opacity-50 focus:ring-purple-500 focus:ring-offset-purple-200 text-white transition ease-in duration-200 text-center text-base font-semibold py-1 px-2 rounded-sm shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 ">
        Or Login
      </button>
      <div class="mt-8 border border-gray-300 rounded-lg">
        <!-- all accounts -->
        <div *ngFor="let account of accounts | keyvalue"
          class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 first:rounded-t-lg last:rounded-b-lg"
          role="menuitem">
          <span class="flex flex-row align-center">
            <!-- Full name of the account owner -->
            <span class="self-center">
              {{account.value?.firstName}} {{account.value?.lastName}}
            </span>
            <!-- Switch button -->
            <button (click)="onSwitch(account.value.username)" type="button"
              class="flex items-center ml-auto justify-center w-12 rounded-sm px-0 py-2 text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500">
              Choose
            </button>
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
